{% extends 'store/base.html' %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

                <br>
                <br>

                <table class="table">
                    <th><h5 style="margin-top: 20px;">Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                    <th><h5 style="margin-top: 20px;">Total: <strong>&#8377;{{order.get_cart_total|floatformat:2}}</strong></h5></th>
                    <th>
                        <a class="btn btn-success" style="float: right; margin: 5px; margin-top: 15px;" href="{% url 'checkout' %}">
                            Checkout
                        </a>
                    </th>
                </table>
            </div>
            
            <br>

            <div class="box-element">
                <div class="cart-row" >
                    <div style="flex: 2px;" ></div>
                    <div style="flex: 2px;" ><strong>Items</strong></div>
                    <div style="flex: 1px;" ><strong>Price</strong></div>
                    <div style="flex: 1px;" ><strong>Quantity</strong></div>
                    <div style="flex: 1px;" ><strong>Total</strong></div>
                </div>
                
                {% if items %}
                {% for item in items %}
                <div class="cart-row" >
                    <div style="flex: 2px;" >
                        <img class="row-image" src="{{item.product.imageURL}}" alt="">
                    </div>
                    <div style="flex: 2px; margin-top: 15px;" >{{item.product.name}}</div>
                    <div style="flex: 1px; margin-top: 15px;" >&#8377;{{item.product.price|floatformat:2}}</div>
                    <div style="flex: 1px; margin-top: 7px;" >
                        <p class="quantity">x{{item.quantity}}</p>

                        <div class="quantity">
                            <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}" alt="">
                            <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}" alt="">
                        </div>
                    </div>
                    <div style="flex: 1px; margin-top: 15px;" >&#8377;{{item.get_total}}</div>
                    <div style="margin-top: 17px;">
                        <div class="quantity">
                            <img data-product="{{item.product.id}}" data-action="delete" class="chg-quantity update-cart" src="{% static 'images/remove.png' %}" alt="">
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h3 class="text-center">No items in cart</h3>
                <hr>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock content %}
