{% extends 'store/base.html' %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/ProductTemplate.png' %}" alt="">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="">View</a>
                <h3 style="display: inline-block; float: right; margin-top: 2px;">$20</h3>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/ProductTemplate.png' %}" alt="">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="">View</a>
                <h3 style="display: inline-block; float: right; margin-top: 2px;">$20</h3>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/ProductTemplate.png' %}" alt="">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success" href="">View</a>
                <h3 style="display: inline-block; float: right; margin-top: 2px;">$20</h3>
            </div>
        </div>
    </div>
{% endblock content %}
